﻿{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="main">

    <h1>Login</h1>

    <form action="{% url "user:login" %}" method="POST" class="login_form">
        {% csrf_token %}
        <label for="id_username" class="login_label">Имя пользователя:</label>
        <input type="text" name="username" name="username" id="id_username" class="login" required>

        <label for="id_password" class="login_label">Пароль:</label>
        <input type="password" name="password" name="password" id="id_password" class="login" required>

        <button type="submit" class="login_b">Войти</button>
        <a href="#" class="login_a">Востановать пароль</a>
    </form>

</div>
{% endblock %}