{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="main">

    <div class="prof">
        <div class="block_image">
            {% if user.image %}
                <img src="{{ user.image.url }}" alt="Аватар" class="prof_img">
            {% else %}
                <img src="{% static '/image/123.jpg' %}" alt="Аватар" class="prof_img">
            {% endif %}
        </div>

        <div class="prof_user">
            <h2>{{ user.username }} 
                <button class="primary" onclick="window.dialog.showModal();">
                    <img src="{% static '/image/pen.png' %}" alt="Редактировать профиль" class="cheange_b">
                </button>
                <dialog id="dialog">
                    <h2>Изменить профиль:</h2>
                    {% if user.image %}
                        <img src="{{ user.image.url }}" alt="Аватар" class="prof_img">
                    {% else %}
                        <img src="{% static '/image/123.jpg' %}" alt="" class="prof_img">
                    {% endif %}

                    <form action="{% url "login:profile" %}" method="post" class="change_form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <label for="id_image" class="change_text">Поменять аватар:</label>
                        <input type="file" name="image" id="id_image" placeholder="Сменить аватар:"
                        accept="image/*"><br/>
                        {% if form.image.errors %}
                            {{form.image.errors}}
                        {% endif %}

                        <label for="id_username" class="change_text">Поменять логин:</label>
                        <input type="text" name="username" id="id_username" placeholder="Сменить имя пользователя:"
                        value="{{ user.username }}">
                        {% if form.username.errors %}
                            {{form.username.errors}}
                        {% endif %}

                        <button type="submit" class="login_b">Изменить</button>
                    </form>

                    <button onclick="window.dialog.close();" aria-label="close" class="x">❌</button>
                </dialog>
            </h2>
            <p>Дата регистрации: {{ user.date_joined }}</p>
        </div>
    </div>
    <h2 class="selected_book">Избранные книги:</h2>
    <div class="init_book">
        
        {% for favorite in favorite_books %}
        <div class="favorite_book">
            <form action="{% url 'login:del_favorite' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="book_id" id="id_books_id" value="{{ favorite.book.id }}">
                <button type="submit">X</button>
            </form>
            <a href="{% url 'main:book' favorite.book.id %}" class="book_a">
                <img src="{{ favorite.book.image.url }}" alt="img" class="book_img" alt="{{ book.title }}">
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}