﻿{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="main">

    <h1>Registration</h1>

    <form action="{% url "login:reg" %}" method="POST" class="login_form">
        {% csrf_token %}
        <label for="id_username" class="login_label">Имя пользователя:</label>
        <input type="text" name="username" id="id_username" class="login">
        {% if form.username.errors %}
            <p style="color:red">{{form.username.errors}}</p>
        {% endif %}

        <label for="id_email" class="login_label">Email:</label>
        <input type="mail" name="email" id="id_email" class="login">
        {% if form.email.errors %}
            <p style="color:red">{{form.email.errors}}</p>
        {% endif %}

        <label for="id_password1" class="login_label">Пароль:</label>
        <input type="password" name="password1" id="id_password1" class="login">
        {% if form.password1.errors %}
            {{form.password1.errors}}
        {% endif %}

        <label for="id_password2" class="login_label">Повторите пароль:</label>
        <input type="password" name="password2" id="id_password2" class="login">
        {% if form.password2.errors %}
            {{form.password2.errors}}
        {% endif %}

        <button type="submit" class="login_b">Регистрация</button>
    </form>

</div>
{% endblock %}