﻿.login_form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 400px;
    margin: 100px auto;
}

.login {
    margin-bottom: 20px;
    height: 50px;
    font-size: 25px;
    border-radius: 10px;
    border: none;
    padding-left: 10px;
}

.login_b {
    margin-bottom: 20px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
    background-color: #760000;
    color:aliceblue;
}

.login_b:hover {
    background: #bf3c3c;
    color: white;
}

.login_label {
    margin-bottom: 10px;
    font-size: 20px;
    color: #363636;
}

.login_a:hover {
    color: #bf3c3c;
}

.prof {
    display: flex;
    font-size: 24px;
    color: #363636;
    margin: 100px 80px;
}

.block_image {
    display: flex;
    flex-direction: column;
}

.change_img {
    margin-top: 15px;
}

.prof_img {
    width: 300px;
    height: 300px;
    border-radius: 20px;
    margin-right: 25px;
}

.selected_book {
    margin-left: 80px;
    font-size: 40px;
    color: #363636;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
:root {
	--vs-primary: 29 92 255;
}

/*Dialog Styles*/
dialog {
	padding: 1rem 3rem;
	background: white;
	max-width: 400px;
	padding-top: 2rem;
	border-radius: 20px;
	border: 0;
	box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
	animation: fadeIn 1s ease both;
	&::backdrop {
		animation: fadeIn 1s ease both;
		background: rgb(255 255 255 / 40%);
		z-index: 2;
		backdrop-filter: blur(20px);
	}
	.x {
		filter: grayscale(1);
		border: none;
		background: none;
		position: absolute;
		top: 15px;
		right: 10px;
		transition: ease filter, transform 0.3s;
		cursor: pointer;
		transform-origin: center;
		&:hover {
			filter: grayscale(0);
			transform: scale(1.1);
		}
	}
	h2 {
		font-weight: 600;
		font-size: 2rem;
		padding-bottom: 1rem;
	}
	p {
		font-size: 1rem;
		line-height: 1.3rem;
		padding: 0.5rem 0;
		a {
			&:visited {
				color: rgb(var(--vs-primary));
			}
		}
	}
}

/*General Styles*/
button.primary {
	max-width: 50px;
	max-height: 50px;
	padding: 0;

	display: inline-block;
	font-size: 0.8rem;
	color: #fff !important;
	background: white;
	border-radius: 17px;
	transition: background-color 0.1s ease;
	box-sizing: border-box;
	transition: all 0.25s ease;
	border: 0;
	cursor: pointer;
	box-shadow: 0 10px 20px -10px rgb(var(--vs-primary) / 50%);
	&:hover {
		box-shadow: 0 20px 20px -10px rgb(var(--vs-primary) / 50%);
		transform: translateY(-5px);
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.cheange_b {
	max-width: 30px;
	max-height: 30px;
	padding: 10px;
	margin: 0;
	align-items: center;
}

.change_text {
	font-size: 20px;
	margin: 20px 0;
}

.change_form {
	margin-top: 20px;
}

input {
	margin: 15px 0;
}