header {
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px 20px 100px;
    background: #ddcaa0;
}

a {
    text-decoration: none;
    color: #4d4d4d;
    transition: 0.5s;
}

a:hover {
    color: #ffffff;
}

.author_a_in_book:hover {
    color: #b73939;
}

.meny {
    display: flex;
    align-items:center;
}

.logo {
    font-size: 40px;
}

.meny_title {
    margin-left: 40px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s;
    color: black;
}

.meny_title:hover {
    color: white;
}

.meny_autho {
    display: flex;
    margin-left: 60px;
}

.meny_butt, .meny_butt_logout{
    border: 0;
    border-radius: 20px;
    margin-left: 20px;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.meny_butt_logout {
    background: #950000;
}
.meny_butt_logout a {
    color: rgb(255, 238, 201);
}
.meny_butt_logout:hover {
    background: #c90000;
    color: white;
}

.meny_butt:hover {
    background: #f0eeac;
    color: #4d4d4d;
}
.meny_butt a:hover {
    background: #f0eeac;
    color: #4d4d4d;
}

body {
    background: #ffeed2;
    margin: 0;
}

.main {
    display: flex;
    margin: 0 auto;
    flex-direction:column;
}

h1 {
    margin: 40px auto;
    padding: auto;
    font-size: 200px;
    color: rgb(56, 56, 56);
}

.books {
    padding-left: 80px;
    display: flex;
    flex-wrap: wrap;
}

.book_img {
    margin: 0px;
    height: 400px;
    width: 300px;
    background: white;
    transition: 1s;
    cursor: pointer;
    padding: 0;
}

.book_img:hover {
    background: #ead785;
}

.book {
    padding: 20px;
    display: flex;
    justify-content: center;
    
}

.favorite_book {
    padding: 0 20px;
    max-width: 300px;
}

.init_book {
    display: flex;
    padding: 20px 60px;
}

.img {
    padding: 0;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    background: rgb(46, 46, 46);
    margin-top: 40px;
}

.img_author {
    display: flex;
    justify-content: center;
}

.text_book {
    font-size: 55px;
    color: #4d4d4d;
    display: flex;
    justify-content: left;
    margin: 50px 0 20px 100px;
}

.text_name {
    padding: 0 50px;
    font-size: 44px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 30px auto;
    color: #4d4d4d;
}

.text {
    font-size: 30px;
    padding: 0 30px;
}

.book_a {
    padding: 0;
    margin: 0;
    display: block; 
    position: relative;
}

.book_a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.4s ease;
}
.book_a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(248, 230, 171, 0.8);
    opacity: 0;
    transition: opacity 0.4s linear;
}
.book_a:hover:before,
.book_a:hover:after {
    opacity: 1;
}

.author {
    margin: 30px;
}

.authors {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 100px;
}

.author_img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.text_bio {
    max-width: 1000px;
    font-size: 30px;
    margin: auto;
    padding: 20px;
    color: #676767;
}

.author_a {
    padding: 0;
    margin: 0;
    display: block; 
    position: relative;
}

.author_a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.4s ease;
    border-radius: 50%;
}
.author_a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(57, 57, 57, 0.8);
    opacity: 0;
    transition: opacity 0.4s linear;
    border-radius: 50%;
}
.author_a:hover:before,
.author_a:hover:after {
    opacity: 1;
    border-radius: 50%;
}

.main_books {
    padding: 0 30px 50px 50px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.text_title {
    margin: 30px 0 15px 0;
    font-size: 35px;
}

.read {
    width: 200px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    border: 0;
    border-radius: 20px;
    background: rgb(209, 100, 100);
    transition: 0.5s;
    color: #ffffff;
}

.read:hover {
    background: #b73939;
}

.reviews {
    margin: 0 0 0 80px;
}

.review_title {
    color: #4d4d4d;
    font-size: 40px;
    margin: 20px 0;
}

.review_user {
    background: #fab7603b;
    max-width: 900px;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 30px;
}

.review_img_user {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    
}

.username {
    text-align: center;
    font-size: 25px;
    margin-left: 20px;
}

.text_review {
    max-width: 800px;
    font-size: 23px;
    margin: 10px 0;
}

.review_user_block {
    display: flex;
    
}

.all_genre:hover {
    background-color: #c90000;
}

.genre {
    font-size: 24px;
    color: #858585;
}

.all_book_in_genre {
    border: none;
    text-align: center;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #474747;
    color: aliceblue;
    max-width: 150px;
    cursor: pointer;
    transition: 0.5s;
    text-align: center;
}

.all_book_in_genre:hover {
    background-color: #858585;
}

.content {
    display: flex;
    min-height: 1000px;
}

.filter_blok {
    background: #f0d89b70;
    padding: 20px;
    min-width: 250px;
    font-size: 24px;
    color: #4d4d4d;
}

.filter_a:hover {
    color: #950000;
}

.all_genre {
    border: none;
    font-size: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: #950000;
    color: aliceblue;
    max-width: 150px;
    cursor: pointer;
    transition: 0.5s;
}

.genre_b {
    margin: 40px auto;
    color: white;
}

.star {
    width: 30px;
    height: 30px;
    margin: 15px 0;
}

.filter_p {
    margin: 0;
    padding: 10px 0;
    border-radius: 10px;
}
.filter_p:hover {
    background: #f0d89bb9;
}

.rating-area {
	overflow: hidden;
	width: 265px;
	margin: 0;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	width: 42px;
	padding: 0;
	cursor: pointer;
	font-size: 32px;
	line-height: 32px;
	color: lightgrey;
	text-shadow: 1px 1px #bbb;
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px #c60;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: gold;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: gold;
	text-shadow: 1px 1px goldenrod;
}
.rate-area > label:active {
	position: relative;
}

.container {
    position: relative;
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
  }
  ul {
    padding: 0;
  }
  .container .pagination {
    position: relative;
    height: 60px;
    background: rgba(255, 237, 188, 0.764);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
    border-radius: 2px;
  }
  .container .pagination li {
    list-style-type: none;
    display: inline-block;
  }
  .container .pagination li a {
    position: relative;
    padding: 20px 25px;
    text-decoration: none;
    color: #474747;
    font-weight: 500;
  }
  .container .pagination li a:hover,
  .container .pagination li.active a {
    background: rgba(249, 202, 135, 0.696);
  }
  
  .disabled {
    pointer-events:none;
    opacity:0.6;
    }   