﻿{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "/style.css" %}">
    <link rel="stylesheet" href="{% static "/login.css" %}">
    <link rel="icon" type="image/png" sizes="32x32" href='{% static "image/book_icon.png" %}'>
    <title>Library</title>
</head>
<body>
    <header>
        <div class="logo"><a href="{% url "main:index" %}">Library</a></div>

        <div class="meny">
            <a href="{% url "main:index" %}" class="meny_title">Главная</a>
            <a href="{% url "main:books" %}" class="meny_title">Книги</a>
            <a href="{% url "main:author" %}" class="meny_title">Авторы</a>
            <div class="meny_autho">
                {% if not user.is_authenticated %}
                <div>
                    <button class="meny_butt"><a href="{% url "login:login" %}">Войти</a></button>
                </div>
                <div>
                    <button class="meny_butt"><a href="{% url "login:reg" %}">Регистрация</a></button>
                </div>
                {% else %}
                    {% if user.is_staff or user.is_admin %}
                    <div>
                        <button class="meny_butt"><a href="{% url "admin:index" %}">Админка</a></button>
                    </div>
                    {% endif %}
                <div>
                    <button class="meny_butt"><a href="{% url "login:profile" %}">Профиль</a></button>
                </div>
                <div>
                    <button class="meny_butt_logout"><a href="{% url "login:logout" %}">Выйти</a></button>
                </div>
                    
                {% endif %}
            </div>
        </div>
    </header>

{% block content %}

{% endblock %}
</body>
</html>