{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="main">
        <h1>Authors</h1>

        <div class="authors">
            {% for author in authors %}
            <div class="author">
            <a href="{% url "main:author_page" author.id %}" class="author_a">
                <img src="{{ author.image.url }}" alt="img" class="author_img">
            </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}