{% extends "base.html" %}
{% load static %}

{% load books_tags %}

{% block content %}
    <div class="content">
        <div class="filter_blok">
            <h2>Filters:</h2>
            <b>По Жанрам:</b>
            <div class="filter">
                {% for genre in genres %}
                    <a href="{% url "main:books_slug" genre.slug %}" class="filter_a"><p class="filter_p">{{ genre.name }}</p></a>
                {% endfor %}
            </div>
            <p>-----------------------</p>
            <form action='{% url "main:books" %}' method='get'>
                <p><input type="radio" name="order_by" id="" value="title" 
                    {% if request.GET.order_by == 'title' %}checked{% endif %}><b>По алфавиту</b></p>
                <input type="radio" name="order_by" id="" value="popular" 
                    {% if request.GET.order_by == 'popular' %}checked{% endif %}><b>По популярности</b>
                <p><input type="radio" name="order_by" id="" value="-rating" 
                    {% if request.GET.order_by == '-rating' %}checked{% endif %}><b>По рейтенгу</b></p>
                <button type="submit" class="all_book_in_genre">Поиск</button>
            </form>
        </div>
        <div class="main">
            <h1>Books</h1>
            <h2>{{ genres.name }}</h2>
            <div class="books">
                {% for book in books %}
                <div class="book">
                    <a href="{% url 'main:book' book.id %}" class="book_a">
                        <img src="{{ book.image.url }}" alt="img" class="book_img" alt="{{ book.title }}">
                    </a>
                </div>
                {% endfor %}
        </div>
        <div class="container">
            <ul class="pagination">
                <li>
                    <a class="{% if not books.has_previous %}disabled{% endif %}" href="{% if books.has_previous %}
                        ?{% change_params page=previous_page_number %}
                    {% else %}
                        #
                    {% endif %} 
                    ">Prev</a>
                </li>
                {% for page in books.paginator.page_range %}
                {% if page >= books.number|add:-2 and page <= books.number|add:2 %}
                    <li class="{% if books.number == page %}active{% endif %}">
                        <a href="?{% change_params page=page %}">{{ page }}</a>
                    </li>
                {% endif %}
                {% endfor %}
                <li>
                    <a class="{% if not books.has_next %}disabled{% endif %}" href="{% if books.has_next %}
                        ?{% change_params page=next_page_number %}
                    {% else %}
                        #
                    {% endif %} 
                    ">Next</a>
                </li>
            </ul>
          </div>
    </div>
{% endblock %}