{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="main">
        <h1>Library</h1>

        <h2 class="text_book">Бестселлеры: 
            <a href="{% url "main:books_slug" 'bestsellery' %}"><button class="all_book_in_genre">Все книги жанра</button></a>
        </h2>
        <div class="books">
            {% for book in bestsellery %}
            <div class="book">
                <a href="{% url 'main:book' book.id %}" class="book_a">
                    <img src="{{ book.image.url }}" alt="img" class="book_img" alt="{{ book.title }}">
                </a>
            </div>
            {% endfor %}
            
        </div>
        <h2 class="text_book">Романы: 
            <a href="{% url "main:books_slug" 'romany' %}"><button class="all_book_in_genre">Все книги жанра</button></a>
        </h2>
        <div class="books">
            {% for book in romany %}
            <div class="book">
                <a href="{% url 'main:book' book.id %}" class="book_a">
                    <img src="{{ book.image.url }}" alt="img" class="book_img" alt="{{ book.title }}">
                </a>
            </div>
            {% endfor %}
            
        </div>
        <a href="{% url "main:books" %} " class="genre_b"><button class="all_genre">Все жанры</button></a>
    </div>
{% endblock %}
