{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="main">
        <div class="img_author">
            <div class="">
                <img src="{{ author.image.url }}" alt="img" class="img">
            </div>
        </div>
        <h2 class="text_name">{{ author.firs_name }} {{ author.last_name }}</h2>
        <p class="text_bio">{{ author.bio }}</p>

        <div class="text_book">Все книги автора:</div>
        <div class="books">
            {% for book in books %}
            <div class="book">
                <a href="{% url "main:book" book.id %}" class="book_a">
                    <img src="{{ book.image.url }}" alt="img" class="book_img">
                    <p>{{ book.tile }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}