{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="main_books">
        <div class="book">
            <a href="page_book.html" class="">
                <img src="{{ books.image.url }}" alt="img" class="book_img">
            </a>
        </div>

        <div class="text">
            <h2 class="text_title"> {{ books.title }}
                {% if request.user.is_authenticated %}
                <form action="{% url 'login:add_to_favorite' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="book_id" id="id_books_id" value="{{ books.id }}">
                    <button type="submit">Добавить в избранное</button>
                </form>
                {% endif %}
            </h2>
            <a href="{% url "main:author_page" books.id_author.id %}" class="author_a_in_book">{{ books.id_author.firs_name }} {{ books.id_author.last_name }}</a>
            <p class="genre">Жанр: {% for genre in books.genres.all %}
                {{ genre }}
            {% endfor %}</p>
            
            <p class="text_p">{{ books.description }}</p>
            <p>Рейтинг книги: 
                {% for i in rating|get_range %}
                    <img src="{% static "/image/star_op.png" %}" alt="" class="star">
                {% endfor %}
                {{ books.rating }}</p>
            <a href="{% url 'main:book_pdf' books.id %}" target="_blank" class="btn btn-primary"><button class="read">Читать книгу</button></a>
        </div>
</div>       
        <div class="reviews">
            <h2 class="review_title">Оставить отзыв:</h2>
            <form action="{% url "main:book" books.id %}" method="POST" class="reviews_form">
                {% csrf_token %}
                Рейтинг: 
                <div class="rating-area">
                    <input type="radio" id="star-5" name="rating" value="5">
                    <label for="star-5" title="Оценка «5»"></label>	
                    <input type="radio" id="star-4" name="rating" value="4">
                    <label for="star-4" title="Оценка «4»"></label>    
                    <input type="radio" id="star-3" name="rating" value="3">
                    <label for="star-3" title="Оценка «3»"></label>  
                    <input type="radio" id="star-2" name="rating" value="2">
                    <label for="star-2" title="Оценка «2»"></label>    
                    <input type="radio" id="star-1" name="rating" value="1">
                    <label for="star-1" title="Оценка «1»"></label>
                </div>
                <label for="">Отзыв:</label>
                <input type="text" name="comment" id="id_comment" cols="30" rows="10"></input>
                <button type="submit" {% if not request.user.is_authenticated %}disabled{% endif %}>Отправить</button>
                {% if not request.user.is_authenticated %}<p style="color: red; opacity:50%">*Авторизируйтесь чтобы оставить отзыв</p>{% endif %}
            </form>
            <div class="reviews_users">
                <h2 class="review_title">Отзывы:</h2>
                {% for comment in comments %}
                <div class="review_user">
                    <div class="review_user_block">
                        <img src="{{ comment.user.image.url }}" alt="" class="review_img_user">
                        <p class="username">{{ comment.user.username }}</p>
                        <p class="data">{{ comment.data }}</p>
                    </div>
                    
                    {% for i in comment.rating|get_range  %}
                        <img src="{% static "/image/star_op.png" %}" alt="" class="star">
                    {% endfor %}
                    <p class="text_review">{{ comment.text }}</p>
                    {% if request.user.id == comment.user.id %}
                    <form action="{% url 'comments:del_com' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="comment_id" id="id_comment_id" value="{{ comment.id }}">
                        <button type="submit">Удалить комментарий</button>'
                    </form>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>

{% endblock %}